body {
    margin: 0;
    height: 100vh;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

.heart {
    position: relative;
    width: 250px;
    height: 250px;
    transform-style: preserve-3d;
    animation: spin 6s linear infinite;
}

.heart span {
    position: absolute;
    color: #ff2d75;
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 0 0 15px #ff2d75;
    transform-style: preserve-3d;
}

/* Posição das letras formando coração */
.heart span:nth-child(1) {
    transform: rotateY(0deg) translateZ(120px) translateY(-40px);
}

.heart span:nth-child(2) {
    transform: rotateY(120deg) translateZ(120px);
}

.heart span:nth-child(3) {
    transform: rotateY(240deg) translateZ(120px) translateY(40px);
}

@keyframes spin {
    0% { transform: rotateY(0deg) rotateX(10deg); }
    100% { transform: rotateY(360deg) rotateX(10deg); }
}